<html>
<head>
<meta charset="utf-8">
<title id="ttl">{{title}}</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<style>
    .demo{
    width:100px;
    height:100px;
    background-color: gray;
    display:inline-block;
    margin:10px;
}
.green{
    background-color: green;
     
}

.red{
    background-color:red;
   
}

.blue{
    background-color:blue;
    
}

</style>
</head>

<body>
    <div id="app">
        <div class="demo" :style="{backgroundColor:color}"></div>
     <!--
        bind style directly

        :style="js object with key as cssproperty name nas value as csspoperty value"

    'background-color' (with quote ) = > backgroundColor camle case

    'background-color' >> "-" is not a valid char for proerty name in json
                               so have to add single quote 

     -->

            <hr>
        <div class="demo" :style="myStyle" ></div>
   <!--  
       using computed propertes
   -->
        <hr>
        <div class="demo" :style="[myStyle,{heigt:width+'px'}]" ></div>

   <!--

    MIXED syntex with array

   -->     
        <hr>
        <input v-model="colorPro">
        <input v-model="width">


    </div>

<script>
let app = new Vue({
    el:"#app",
    data:{ 
        attachedRed:false,
        colorPro:"green",
        width:100
       
    },

    computed:{
        myStyle:function(){
                return {
                    backgroundColor:this.colorPro,
                    width: this.width +'px'
                }
        }
    }
})

 
</script>
</body>
</html>


