<html>
<head>
<meta charset="utf-8">
<title id="ttl">title here</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
        .demo{
        width:500px;
        height: 50px;
      
        background-color: red;
        display:inline-block;
      
    }
    .green{
        background-color: green;
        height:100%;
         
    }
    </style>
</head>

<body>
    <div id="app">
        <hr>
        <template name="myHealthBar">
            <div class="demo">
                <div class="green" :style="{width:myHealth+'%'}"> YOU {{myHealth}} </div>

            </div>
        </template>
        <template name="monstoerHealthBar">
                <div class="demo">
                        <div class="green" :style="{width:monstoerHealth+'%'}">MONSTOER {{monstoerHealth}}</div>
                </div>
            </template>
            <hr>
            <template name="startGame" v-if="showStartgame">
                    <button @click="showStartgame = false">Start Game</button>
                </template>

                <template name="gameControls" v-if="!showStartgame">
                        <button @click="myAttack">Attack</button>
                        <button >Special Attack</button>
                        <button @click="heal">Heal</button>
                        <button @click="reset">Give up</button>

                    </template>

                    <hr>
                    <template name="gameLog" v-if="!showStartgame">
                        <ul>
                            <li v-for="gameLog in gameLogs">
                                    {{gameLog}}
                            </li>
                        </ul>
                        </template>   
    </div>

<script>
let app = new Vue({
    el:"#app",
    data:{ 
        myHealth:100,
        monstoerHealth:100,
        
        showStartgame:true,
        gameLogs:[]
        
    },
     
    methods:{
        reset: function(){
                this.myHealth=100;
                this.monstoerHealth= 100;
                 
                showStartgame:true;
                gameLogs=[]
        },
        myAttack:function(event,rangFrom =1, rangTo=20){
            let myAttack1 = Math.floor((Math.random() * rangTo) + rangFrom);
            this.gameLogs.unshift(" you attacked " +myAttack1)

            this.monstoerHealth -=myAttack1;
            this.mostoerAttack(event,rangFrom,rangTo)

        },
        mostoerAttack:function(event,rangFrom =1, rangTo=20){
            let monstoerAttack = Math.floor((Math.random() * rangTo) + rangFrom);
            this.gameLogs.unshift(" mostoer attacked "+ monstoerAttack)
            this.myHealth -= monstoerAttack;

        },
        heal:function(event){
            let heal = Math.floor((Math.random() * 20) + 1);
            this.gameLogs.unshift(" you healed " + heal)

            this.myHealth +=heal;
            this.mostoerAttack(event,1,heal-1);

        }

    }
})

 
</script>
</body>
</html>


