<html>
<head>
<meta charset="utf-8">
<title id="ttl">title here</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1> hello to me first</h1>"
        <button>sd  </button>
    </div>

<script>
let app = new Vue({
    el:"#app",
    template:"<h1> hello to me</h1>",  // this will be replace the content  in side the #app div. 
    data:{ 
        msg:'Hello world',
        selectedFrequency: "B",
        
    }
})

 
</script>
</body>
</html>


