<html>
<head>
<meta charset="utf-8">
<title id="ttl">computed properties</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
            <input v-model="firstName"> <input v-model="lastName">
<h1>{{fullName}}</h1>
<input v-model="fullName2">
    </div>

<script>
let app = new Vue({
    el:"#app",
    data:{ 
        firstName:"sumit",
        lastName:"goyal",
        //fullName:"sumit goyal"
        
    },

    computed:{
        fullName:function(){  // like a getter
            return this.firstName+' '+this.lastName;
        },

        fullName2:{
            get:function()
            {
                return this.firstName+' '+this.lastName;
            },
            set: function(val)
            {
                let names =val.split(' ');
                this.firstName = names[0]
                this.lastName = names[1]
            }
        }
    }
})

 
</script>
</body>
</html>


